@model IEnumerable<Webshop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<h1> Sort by: </h1>
<form action="/Products/Sort" method="post">

    <select class="dropdown" id="sortBy" name="sortBy">
        <option>Name</option>
        <option>Price</option>
        <option>Quantity</option>
    </select>
    <input type="submit" value="Go" />
</form>

<h1> Filter by category: </h1>
<form action="/Products/Filter" method="post">

    <select class="dropdown" id="filterBy" name="filterBy">
       @foreach (var cat in ViewBag.Categories)
       {
        <option value="@cat.ID" >@cat.Name</option>
       }

    </select>
    <input type="submit" value="Go" />
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            Category name
        </th>
        <th>
            Supplier name
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            
            <td>
                <input type="number" id="@item.ID" value="1" name="Quantity" />
            </td>
            
            <td> 
                <button type="button" class="btn btn-danger" onclick="AddItem(@item.ID);">
                    <span class="glyphicon glyphicon-plus-sign"></span> Remove
                </button>
            </td>


        </tr>
    }

</table>

<script type="text/javascript">

    function AddItem(id) {

        var input = id;
        var qty = $('#'+input).val();

        $.ajax({
            url: 'Products/AddToCart',
            type: 'Get',
            contentType: 'application/json',
            data: { id: id, qty: qty },
            success: function () {
                alert("Product added");
                
            }
        });
    }

</script>