@model IEnumerable<Webshop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @ViewBag.NoItemsInCart
</p>




<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                     {
                         <tr id="ProductRow + @item.ID">
                             <td class="col-sm-8 col-md-6">
                                 <div class="media">
                                     <a class="thumbnail pull-left" href="#"> <img class="media-object" src="" style="width: 72px; height: 72px;"> </a>
                                     <div class="media-body">
                                         <h4 class="media-heading"><a href="#"> @Html.DisplayFor(modelItem => item.Name) </a></h4>
                                         <h5 class="media-heading"> by <a href="#">@Html.DisplayFor(modelItem => item.ID)</a></h5>
                                     </div>
                                 </div></td>
                             <td class="col-sm-1 col-md-1 rowQuantity" style="text-align: center">
                                 <input type="text" class="form-control" id="@item.ID" value="@item.Quantity">
                             </td>
                             <td class="col-sm-1 col-md-1 text-center"><strong>@Html.DisplayFor(modelItem => item.Price)</strong></td>
                             <td class="col-sm-1 col-md-1 text-center"><strong>@(Int32.Parse(item.Price) * item.Quantity)</strong></td>
                             <td class="col-sm-1 col-md-1">
                                 <button type="button" class="btn btn-info BtnUpd" onclick="updateItem(@item.ID)" id="btnUpdate">
                                     <span class="glyphicon glyphicon-adjust"></span> update
                                 </button>

                                 <button type="button" class="btn btn-danger BtnDel" onclick="DeleteItem(@item.ID);">
                                     <span class="glyphicon glyphicon-remove"></span> Remove
                                 </button>
                             </td>
                         </tr>
                     }
                }
                     </tbody >
                </table>
        </div>
    </div>
</div>







<script type="text/javascript">

    function updateItem(id) {

        var input = id;
        var qty = $('#'+input).val();

      $.ajax({
            url: 'api/ShopCartAPI/UpdateQuantity',
            type: 'Get',
            contentType: 'application/json',
            data: { id: id, qty: qty},
            success: function () {
                console.log(qty);
                alert("Product updated");
            }
        });

    }

    function DeleteItem(id) {

        $.ajax({
            url: 'api/ShopCartAPI/Delete',
            type: 'Get',
            contentType: 'application/json',
            data: { id: id },
            success: function () {
                location.reload();
                alert("Product removed");
            }
        });
    }


</script>




