@using System.Activities.Statements
@using Webshop.Classes
@using Webshop.Models
@model IEnumerable<Webshop.Models.Product>

@{
    ViewBag.Title = "Index";

    int? total = 0;
    if (Model != null)
    {
        foreach (var item in Model)
        {
            int? value = Int32.Parse(item.Price) * item.Quantity;
            total += value;
        }
        ViewBag.total = total;

    }
}


@if (ViewBag.NoItemsInCart != null)
{
    <div class="alert alert-danger">
        <strong>@ViewBag.NoItemsInCart</strong>
    </div>
}





@if (Model != null)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <table class="table table-hover" style="margin-top: 2em">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr id="ProductRow+@item.ID">
                                <td class="col-sm-4 col-md-4 col-lg-4">
                                    <a class="pull-left" href="Products/Details/@item.ID"> <img class="img-thumbnail" src="http://placegoat.com/72/72" style="width: 100px; height: 100px;"> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading" style="padding-left: 15px"><a href="Products/Details/@item.ID"> @Html.DisplayFor(modelItem => item.Name) </a></h4>
                                        <h5 class="media-heading" style="padding-left: 15px"> ID @Html.DisplayFor(modelItem => item.ID)</h5>
                                    </div>

                                </td>
                                <td class="col-sm-1 col-md-1 col-lg-1" style="text-align: center">
                                    <input type="text" class="form-control" id="@item.ID" value="@item.Quantity">
                                </td>
                                <td class="text-center col-sm-1 col-md-1 col-lg-1 "><strong>€ @Html.DisplayFor(modelItem => item.Price)</strong></td>
                                <td class="text-center col-sm-1 col-md-1 col-lg-1"><strong>€ @(Int32.Parse(item.Price) * item.Quantity)</strong></td>
                                <td class="col-sm-2 col-md-2 col-lg-1">
                                    <button type="button" class="btn btn-info BtnUpd" onclick="updateItem(@item.ID)" id="btnUpdate">
                                        <span class="glyphicon glyphicon-edit"></span> update
                                    </button>
                                </td>
                                <td class="col-sm-2 col-md-2 col-lg-1">
                                    <button type="button" class="btn btn-danger BtnDel" onclick="DeleteItem(@item.ID);">
                                        <span class="glyphicon glyphicon-remove"></span> Remove
                                    </button>
                                </td>

                            </tr>
                        }

                    </tbody>

                </table>

                <div class="pull-right">
                    <h3 class="text-right">
                        Total: € @ViewBag.total
                    </h3>

                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Products")'">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                    </button>

                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Orders")'">
                        Checkout <span class="glyphicon glyphicon-play"></span>
                    </button>

                </div>
            </div>
        </div>
    </div>
}





<script type="text/javascript">

    function updateItem(id) {

        var input = id;
        var qty = $('#' + input).val();

        $.ajax({
            url: '/UpdateQuantity',
            type: 'Get',
            contentType: 'application/json',
            data: { id: id, qty: qty },
            success: function () {
                location.reload();
                alert("Product updated");
            }
        });

    }

    function DeleteItem(id) {

        var input = id;

        $.ajax({
            url: '/Delete',
            type: 'Get',
            contentType: 'application/json',
            data: { id: id },
            success: function () {
                location.reload();
                alert("Product removed");

            }
        });
    }


</script>


